.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.overlay .ImageContainer {
  width: 100%;
}

.overlayButton {
  margin-top: 40px !important;
}

.ImageContainer .offscreen {
  display: none;
}

.App.overlay .Maincontainer {
  min-height: 890px;
}

.App.overlay .ImageContainer form {
  display: none;
}


.ImageContainer form {
  position: relative;
}



.App.overlay .actionButtonsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.actionButtonsContainer button {
  margin: 20px 10px;
}

.ImageContainer {
  width: 50%;
  min-height: 320px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid #f1f3f4;
  justify-content: center;
}


.ImgComponentContainer {
  display: flex;
  flex-wrap: wrap;
}

.Maincontainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.overlay .ImageContainer img {
  opacity: .5;
}

.overlay .ImageContainer {
  position: absolute;
  top: 0;
  left: 0
}

.overlay .ImageContainer .cancelimg {
  display: none;
}

.overlay .ImageContainer {
  position: absolute;
}

.ImageContainer img.showimg {
  display: block;
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.url_error.show {
  display: block;
}

.url_error {
  color: red;
  font-weight: bold;
  display: none;
}


.buttonsContainer {
  display: block;
  margin-top: 30px;
}

.cancelimg {
  position: absolute;
  top: 5px;
  font-weight: bold;
  right: 5px;
  text-decoration: none;
  cursor: pointer;
}

.ThumbContainer {
  max-height: 240px;
  display: inline-block;
  border: 1px solid #ccc;
  width: 25%;
}

.Sidebar {
  width: 300px;
  min-height: 78vh;
  float: left;
  border-right: 1px solid gainsboro;
  padding: 20px 0;
  position: relative;
}


.ThumbContainer img{
  width: auto;
    max-height: 240px;
}

.ScreenshotContainer img{
  max-width: 100%;
}

.ScreenshotContainer{
  padding: 25px;  
}

