.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.overlay .ImageContainer {
  width: 100%;
}

.overlayButton {
  margin-top: 40px !important;
}

.ImageContainer .offscreen {
  display: none;
}

.App.overlay .mainContainer {
  min-height: 800px;
}

.App.overlay .ImageContainer form{
  display: none;
}


.ImageContainer form {
  position: relative;
}


.actionButtonsContainer button{
  margin: 20px 10px;
}

.ImageContainer {
  width: 50%;
  min-height: 320px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid #f1f3f4;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
}

.overlay .ImageContainer img {
  opacity: .5;
}

.overlay .ImageContainer {
  position: absolute;
}
.overlay .ImageContainer .cancelimg {
  display: none;
}

.overlay .ImageContainer {
  position: absolute;
}

.ImageContainer img.showimg {
  display: block;
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.url_error.show {
  display: block;
}

.url_error {
  color: red;
  font-weight: bold;
  display: none;
}


.cancelimg{
  position: absolute;
    top: 5px;
    font-weight: bold;
    right: 5px;
    text-decoration: none;
    cursor: pointer;
}